@import '../styles/variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}
 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
body, html {
  height: var(--full-height);
}
 
* {
  box-sizing: border-box;
}
 
.header{
  background-color: var(--background);
  padding: 15px;
}
 
.header h1{
  color: var(--color-white);
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  text-shadow: 0 0 9px var(--color-white);
  text-align: var(--text-align-center);
}
 
.wrapper{
  display: var(--display-grid);
  grid-template-columns: 1fr 1fr; 
}
 
.playground{
  display: var(--display-grid);
  flex-wrap: var(--flex-wrap);
  grid-template-columns: repeat(10, 1fr);
  height: calc(100vh - 67px)
}
 
.playground .number {
  display: var(--display-flex);
  align-items: var(--align-items-center);
  justify-content: var(--justify-content-center);
  color: var(--playground-color);
  padding: 15px 25px;
  font-weight: 700;
  font-size: 1.3em;
  padding: 0 0 2px;
  border-right: 1px solid #9f9f9f;
  border-bottom: 1px solid #9f9f9f;
  font-weight: 700;
  cursor: var(--cursor-pointer);
}
 
.playground .choosedNumber{
  background-color: var(--background);
  color: #fff;
}
 
.playground .notAllowed{
  opacity: 0.3;
  cursor: var(--cursor-not-allowed);
}
 
.details{
  height: calc(100vh - 67px);
  overflow: var(--overflow-hiden);
}

.details .betDetails {
  padding: 0 20px;
  height: fit-content;
}
 
.timerWrapper{
  padding: 10px 0;
  grid-template-columns: 0.8fr 1.2fr;
  display: var(--display-grid);
  align-items: var(--align-items-center);
}
 
.timerWrapper .timer{
  color: #333;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 100%;
}
 
.timerWrapper .timerTitle{
  color: var(--playground-color);
  font-size: 14px;
  font-weight: 600;
  padding-right: 15px;
}
 
.inputWrapper{
  display: var(--display-grid);
  align-items: var(--align-items-center);
  grid-template-columns: 0.5fr 0.1fr 1.5fr 0.1fr;;
  grid-gap: 0 10px
}
 
.inputWrapper .buttons{
  cursor: var(--cursor-pointer);
}
 
.inputWrapper .label{
  color: var(--playground-color);
  font-size: 14px;
  font-weight: 600;
  padding-right: 15px;
}
 
.inputWrapper .inputNumber{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--background);
  border-radius: 10px;
}
 
.inputWrapper input:focus{
  outline: none;
}
 
.commentsWrapper{
  padding: 0 20px;
  height: fit-content;
}
 
.commentsWrapper .textOverflow{
  white-space: nowrap;
  overflow: var(--overflow-hidden);
  text-overflow: ellipsis;
}
 
.commentsWrapper .boldComments {
  font-weight: bold;
  color: var(--background);
}
 
.commentsWrapper .commentsTitle{
  text-align: var(--text-align-center);
} 
 
.commentsWrapper .circle{
  counter-reset: list-counter;
  list-style: none;
  padding-left: 0;
  display: var(--display-grid);
  grid-template-columns: 1fr 1fr;
}
.commentsWrapper .circle li{
  margin: 0.3em 0 0 0;   
}
 
.commentsWrapper .circle li:before{
  content: counter(list-counter);
  counter-increment: list-counter;
  width: 1em;
  height: 1em;
  padding: .5em;
  margin-right: 1em;
  border-radius: 50%;
  border: .25em solid #ccc;
  background: #000;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  text-align: var(--text-align-center);
  display: inline-block;
}
 
@media screen and (max-width: 1000px) {
  .playground{
    height: unset;
  }
  .wrapper{
    display: var(--display-block);
  }
  .commentsWrapper{
    padding: 0 10px;
  }
}
 
@media screen and (max-width: 600px) {
  .inputWrapper{
    padding: 0 10px;
    grid-template-columns: 20% 10% 50% 10%;
  }
  .inputNumber{
    padding: 10px;
  }
  .timerWrapper{
    padding: 10px;
  }
  .commentsWrapper{
    padding: 0;
  }
  .circle{
    grid-template-columns: 1fr !important;
  }
  .number{
    font-size: .9em !important;
  }
  .timer{
    font-size: 1.9em !important;
  }
}